# Ignore virtual environment folder
venv/
.venv/

# Ignore environment variables file at root (sensitive data)
.env
.env.backup

# Ignore SQLite database file (optional, only if you don't want to track it)
app/database.db

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

instance/app.db

# Coverage reports
.coverage
htmlcov/
